@import "./component/common/style/common.css"; 
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: var(--text-white);
  font-family:  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
